/* COMMUN */
body
{
  margin: 0;
  background-color: #e5e5e5;
  position: relative;
  margin: auto;
  min-height: 100vh;
}

.bodyListeBoites
{
  padding-bottom: 18vh;
}

/* HEADER */
.global-header
{
  background-color: #63859d;
  display: flex;
  flex-direction: column;
  width: 100vw;
  text-align: center;
  top: 0;
  margin-bottom: 2vh;
}

.global-header img
{
  margin: 2vh 2vh;
}

/* FOOTER*/
.global-footer
{
  border-top: 10px solid #242a31;
  padding: 30px 0;
  margin-top: 2vh;
  line-height: normal;
  font-size: 1em;
  width: 100vw;
  background-color: #373d48;
  position: absolute;
  bottom: 0;
}

.global-footer ul
{
  display: flex;
  flex-wrap: wrap;
  padding-left: 18vw;
  margin-top: -2vh;
  margin-bottom: 4vh;
}

.global-footer li
{
  list-style: none;
  width: 40vw;
  height: 3vh;
}

.global-footer p
{
  color: #8693a6;
  font-family: "Dosis", sans-serif;
}

.global-footer .name
{
 color: white;
 font-family: "Dosis", sans-serif;
}

/* LISTEBOITES */
.boxlisteboite
{
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.menulisteboite
{
  display: flex;
  flex-direction: row;
  width: 80vw;
  margin-left: 10vw;
}

.menulisteboite form
{
  justify-content: center;
  width: 80vw;
  margin: 0;
  padding: 0;
}

.menulisteboite #formboutonetape, .menulisteboite #formboutonetapechecked
{
  width: 100%;
  height: 6vh;
  margin: 0;
  padding: 0;
  background-color: #63859d;
  letter-spacing: 1px;
  border: solid 1px;
  padding: 5px 10px;
  font-family: "Dosis", sans-serif;
  text-transform: uppercase;
  transition: background-color 1s;
}

.menulisteboite #formboutonetape:hover, .menulisteboite #formboutonetapechecked:hover
{
  cursor:pointer;
  background-color: #dd0330;
}

.menulisteboite #formboutonetapechecked
{
  background-color: #c01340;
}

.boxlisteboite .boitetrouve
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boxlisteboite #nomboite
{
  background-color: #7F8FA6;
  width: 20vw;
  min-width: 100px;
  padding: 1vh;
  margin: 0;
  margin-bottom: 2vh;
}

.boxlisteboite .barreprogression, .boxlisteboite .commentaireprogression {
  display: flex;
  flex-direction: row;
  margin-left: 30vw;
  width:40vw;
  height:5vh;
  min-width:200px;
  min-height:30px;
}

.jauge1, .jauge9 {
  background-color: darkorchid;
  height:100%;
  width: 5vw;
}

.commentairejauge1, .commentairejauge9
{
  color: darkorchid;
  width: 100%;
}

.jauge2, .jauge10 {
  background-color: #7B68EE;
  height:100%;
  width: 5vw;
}

.commentairejauge2, .commentairejauge10
{
  color: #7B68EE;
  width: 100%;
}

.jauge3, .jauge11 {
  background-color: #1E90FF;
  height:100%;
  width: 5vw;
}

.commentairejauge3, .commentairejauge11
{
  color: #1E90FF;
  width: 100%;
}

.jauge4, .jauge12 {
  background-color: green;
  height:100%;
  width: 5vw;
}

.commentairejauge4, .commentairejauge12
{
  color: green;
  width: 100%;
}

.jauge5, .jauge13 {
  background-color: yellow;
  height:100%;
  width: 5vw;
}

.commentairejauge5, .commentairejauge13
{
  color: yellow;
  width: 100%;
}

.jauge6, .jauge14 {
  background-color: orange;
  height:100%;
  width: 5vw;
}

.commentairejauge6, .commentairejauge14
{
  color: orange;
  width: 100%;
}

.jauge7, .jauge15 {
  background-color: red;
  height:100%;
}

.commentairejauge7, .commentairejauge15
{
  color: red;
  width: 100%;
}

.jauge8, .jauge16{
  background-color: pink;
  height:100%;
}

.commentairejauge8, .commentairejauge16
{
  color: pink;
  width: 100%;
}

/* TABLEAUDEBORD */
.boxtableaudebord
{
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.boxtableaudebord #boutonlistedesboites, .boxtableaudebord #boutonimprimerdesbarrecodes, .boxtableaudebord #boutonquelqueschiffres
{
  width: 30vw;
  min-width: 200px;
  height: 10vh;
  margin: 0;
  padding: 0;
  background-color: #63859d;
  letter-spacing: 1px;
  border: solid 1px;
  padding: 5px 10px;
  font-family: "Dosis", sans-serif;
  text-transform: uppercase;
  transition: background-color 1s;
}

.boxtableaudebord #boutonlistedesboites:hover, .boxtableaudebord #boutonimprimerdesbarrecodes:hover, .boxtableaudebord #boutonquelqueschiffres:hover
{
  cursor:pointer;
  background-color: #dd0330;
}

.boximprimer #boutonretourindex, .boxlisteboite #boutonretourindex, .boxdetailsclient #boutonretourindex, .boxdetailsclient #boutonsuivi
{
  width: 8vw;
  min-width: 100px;
  height: 4vh;
  min-height: 20px;
  margin: 0;
  padding: 0;
  background-color: #63859d;
  letter-spacing: 1px;
  border: solid 1px;
  padding: 5px 10px;
  font-family: "Dosis", sans-serif;
  text-transform: uppercase;
  transition: background-color 1s;
}

.boximprimer #boutonretourindex:hover, .boxlisteboite #boutonretourindex:hover, .boxdetailsclient #boutonretourindex:hover, .boxdetailsclient #boutonsuivi:hover
{
  cursor:pointer;
  background-color: #dd0330;
}

/* IMPRIMER */
.boximprimer
{
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.boximprimer .formimprimer #formboutontelecharger
{
  width: 15vw;
  min-width: 100px;
  height: 4vh;
  min-height: 20px;
  margin: 0;
  padding: 0;
  margin-top: 3vh;
  background-color: #63859d;
  letter-spacing: 1px;
  border: solid 1px;
  padding: 5px 10px;
  font-family: "Dosis", sans-serif;
  text-transform: uppercase;
  transition: background-color 1s;
}

.boximprimer .formimprimer #formboutontelecharger:hover
{
  cursor:pointer;
  background-color: #dd0330;
}

/* DETAILSCLIENT */
.boxdetailsclient
{
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
